<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=" http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
             http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
             http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd">

    <context:property-placeholder location="classpath:credit.properties"/>
    <!-- 配置数据库连接池 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${pub.platform.db.ConnectionManager.sDBDriver}"/>
        <property name="url" value="${pub.platform.db.ConnectionManager.sConnStr}"/>
        <property name="username" value="${pub.platform.db.ConnectionManager.user}"/>
        <property name="password" value="${pub.platform.db.ConnectionManager.passwd}"/>
        <property name="maxActive" value="15"/>
        <property name="maxIdle" value="5"/>
    </bean>

    <!-- transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- enable component scanning (beware that this does not enable mapper scanning!) -->
    <context:component-scan base-package="rfm,platform"/>

    <!-- enable autowire -->
    <context:annotation-config/>

    <!--<tx:jta-transaction-manager />-->

    <!-- enable transaction demarcation with annotations -->
    <tx:annotation-driven/>

    <!-- define the SqlSessionFactory, notice that configLocation is not needed when you use MapperFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--<property name="configLocation" value="classpath:mybatisConfig.xml"/>-->
        <property name="mapperLocations">
            <list>
                <value>classpath:rfm/qd/repository/mapper/**/*.xml</value>
                <value>classpath:rfm/ta/repository/mapper/**/*.xml</value>
                <value>classpath:platform/repository/mapper/**/*.xml</value>
            </list>
        </property>
    </bean>

    <!-- scan for mappers and let them be autowired -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="platform.repository.dao,rfm.qd.repository.dao,rfm.ta.repository.dao"/>
    </bean>

    <!-- JMS-->
    <!-- 连接 -->
    <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL">
            <value>${jms.brokerURL}</value>
        </property>
        <property name="userName" value="${jms.username}"/>
        <property name="password" value="${jms.password}"/>
    </bean>

    <!-- 发送和接收结合对 -->
    <bean id="jmsSendTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="defaultDestination" ref="send.unipay"/>
        <property name="timeToLive" value="${jms.timeToLive}"/>
    </bean>
    <bean id="jmsRecvTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="defaultDestination" ref="recv.unipay"/>
        <property name="timeToLive" value="${jms.timeToLive}"/>
        <property name="receiveTimeout" value="${jms.realtime_receive_timeout}"/>
    </bean>
    <!-- 实时发送-->
    <bean id="send.unipay" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0">
            <value>${queue.rfm.to.dep.object}</value>
        </constructor-arg>
    </bean>
    <!-- 实时接收  -->
    <bean id="recv.unipay" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0">
            <value>${queue.dep.to.rfm.object}</value>
        </constructor-arg>
    </bean>

    <!--自动侦听，发送处理 -->
    <bean id="jmsRfmOutTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="defaultDestinationName" value="${queue.rfm.out}"/>
        <property name="timeToLive" value="${jms.timeToLive}"/>
    </bean>
    <jms:listener-container connection-factory="jmsConnectionFactory" concurrency="5">
        <jms:listener destination="${queue.rfm.in}" ref="depMsgListener"/>
    </jms:listener-container>

</beans>
